#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>
#define ZMK_POINTING_DEFAULT_MOVE_VAL 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10
#define MOUSE_L 3
/ {
    behaviors {
        msc_up: mouse_scroll_up {
            compatible = "zmk,behavior-mouse-scroll";
            direction = "up";
            distance = <1200>;
            // Custom scroll speed (positive value for up)
            MOVE_Y(100); // Adjust the value as needed
        };
        msc_down: mouse_scroll_down {
            compatible = "zmk,behavior-mouse-scroll";
            direction = "down";
            distance = <1200>;
            // Custom scroll speed (negative value for down)
            MOVE_Y(-100); // Adjust the value as needed
        };
        msc_left: mouse_scroll_left {
            compatible = "zmk,behavior-mouse-scroll";
            direction = "left";
            distance = <1200>;
            // Custom scroll speed (negative value for left)
            MOVE_X(-5); // Adjust the value as needed
        };
        msc_right: mouse_scroll_right {
            compatible = "zmk,behavior-mouse-scroll";
            direction = "right";
            distance = <1200>;
            // Custom scroll speed (positive value for right)
            MOVE_X(5); // Adjust the value as needed
        };
        mmv_up: mouse_move_up {
            compatible = "zmk,behavior-mouse-move";
            direction = "up";
            distance = <10>;
        };
        mmv_down: mouse_move_down {
            compatible = "zmk,behavior-mouse-move";
            direction = "down";
            distance = <10>;
        };
        mmv_left: mouse_move_left {
            compatible = "zmk,behavior-mouse-move";
            direction = "left";
            distance = <10>;
        };
        mmv_right: mouse_move_right {
            compatible = "zmk,behavior-mouse-move";
            direction = "right";
            distance = <10>;
        };
    };
/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -------------------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |                    |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |                    |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |  MUTE  |  |        |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |                    | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T                     &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G                     &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp PSCRN  &kp CAPS &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LALT &mo 1 &kp SPACE                     &kp RET &mo 2 &kp LGUI
                        >;

                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };
                lower_layer {
// ------------------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |                    |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |                    | LFT | DWN |  UP | RGT |     |  F12 |
// | SHFT | F1  | F2  | F3  | F4  | F5  |  boot  |  |        |  F6 | F7  | F8  | F9  | F10 |  F11 |
//                    | GUI |     | SPC |                    | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1     &kp N2     &kp N3    &kp N4  &kp   N5                    &kp N6   &kp N7   &kp N8 &kp N9    &kp N0  &kp BSPC
   &kp LCTRL  &kp F12    &kp F5     &kp COLON &kp DEL &kp HOME                    &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans  &kp F12
   &kp LSHFT  &kp C_PREV &kp C_NEXT &kp C_PP  &kp DOT &kp  END &bootloader  &none &kp F6   &kp F7   &kp F8 &kp F9    &kp F10 &kp F11
                                    &kp LALT &trans  &kp SPACE                    &kp RET  &mo 3  &kp LGUI
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                raise_layer {
// ------------------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |                    |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |                    |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |        |  |  boot  |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |                    | ENT |     | ALT |
                        bindings = <
   &kp  TAB   &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp    PRCNT                             &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                             &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &kp LSHFT  &kp F1       &kp F2       &kp F3       &kp F4       &kp       F5 &bt BT_CLR_ALL  &bootloader &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                                                &kp LALT &to MOUSE_L &kp SPACE                             &kp RET  &trans   &kp LGUI
                        >;

                        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
                };

                mouse_layer {
// ------------------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |                    |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |                    |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |        |  |  boot  |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |                    | ENT |     | ALT |
                        bindings = <
   &kp  TAB   &trans &trans &mkp LCLK &msc_up MOVE_Y(100) &msc_down MOVE_Y(-100)    &trans  &msc SCRL_UP   &mmv MOVE_UP  &msc SCRL_DOWN      &trans      &trans
   &kp LCTRL  &trans &trans &mkp MCLK &mkp RCLK &trans             &msc SCRL_LEFT &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_RIGHT &trans
   &kp LSHFT  &trans &trans &mkp MB4  &mkp MB5  &trans &none &none &trans             &trans         &trans         &trans          &trans      &trans
                        &kp LALT &mo 3 &kp SPACE                   &kp RET  &trans   &kp LGUI
                        >;

                        sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
                };

        };
};
